{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
    <div class="container min-content-height">        
        <h1>Votre Panier</h1>
        {# items | lenght permet de récupérer la longueur du tab items #}
        {# Permet de savoir si on a un panier rempli ou pas #}
        {% if items | length > 0 %} 
            <div class="content">
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Produit</th>
                                <th>Prix</th>
                                <th>Quantité</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                                <tr>
                                    <td>{{ item.product.name }}</td>
                                    <td>{{ item.product.price }}</td>
                                    <td class="d-flex"> 
                                        <a href="{{ path('cart_add', {'id': item.product.id }) }}" class="btn btn-outline-primary btn-sm">+</a>
                                        &nbsp;{{ item.quantity }}&nbsp;
                                        <a href="{{ path('cart_remove', {'id': item.product.id }) }}" class="btn btn-outline-secondary btn-sm">-</a>
                                    </td>
                                    <td>{{ item.product.price * item.quantity }}                             </td>
                                    <td>
                                        <a href="{{ path('cart_remove_all', {'id': item.product.id }) }}" class="btn btn-danger btn-sm">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                            </svg>                            </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="3" class="text-right">Total : </td> {#colspan="3" car prend la largeur des trois colonnes de gauche#}
                            <td>{{ total }}</td>
                            <td></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div class="content">
                <div class="row">
                    {% if app.user %}
                        {% if wineBoxQuantity >= 10 %}
                            <div class="col-12 col-md-4">
                                <a href="{{ path('cart_send', {'id': app.user.id }) }}" class="btn btn-success btn-block active">Envoyer ma liste</a>
                            </div>
                        {% else %}
                            <div class="col-12 col-md-4">
                                <button class="btn btn-success btn-block disabled">Envoyer ma liste</button>
                            </div>
                            <div class="col-12 col-md-8">(votre commande doit contenir 60 bouteilles pour être éligible à la livraison) </div>
                        {% endif %}
                    {% else %}
                        <h4 class="my-2">Pour envoyer votre liste, merci de vous connecter</h4>
                        <div class="col-12 col-md-4">
                            <a href="{{ path('security_login') }}" class="btn btn-secondary btn-block active">Se connecter</a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="content">
                <div class="row p-1 border border-info">
                    <div class="col-12"><strong>Information :</strong></div>
                    <div class="col-12">Après confirmation, cette liste nous sera envoyée et nous vous recontacterons pour finaliser la commande et organiser la livraison.</div>
                </div>
            </div>
        {% else %}
            <p>Votre panier est vide</p>
        {% endif %}
    </div>
{% endblock %}
