{% extends 'base.html.twig' %}

{% form_theme formRegistration 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Inscription</h1>

        {{ form_start(formRegistration) }}

        <div class="row mx-auto">
            <div class="col">
                {{ form_row(formRegistration.userFirstName, {'label': 'Prénom'}) }}
            </div>
            <div class="col">
                {{ form_row(formRegistration.userLastName, {'label': 'Nom'}) }}
            </div>
        </div>
        <div class="row mx-auto">
            <div class="col">
                {{ form_row(formRegistration.email, {'label': 'Email'}) }}     
                {{ form_row(formRegistration.password, {'label': 'Mot de Passe',
                                                        'type': 'password'}) }}
                {{ form_row(formRegistration.confirm_password, {'label': 'Confirmation du mot de passe', 
                                                                'type': 'password'}) }}
            </div>
        </div>
        <hr>
        <div class="row mx-auto">
            <div class="col">
                <button class="btn btn-success">Enregistrer</button>
            </div>
        </div>
        {{ form_end(formRegistration) }}
    </div>
{% endblock %}
