{% extends 'base.html.twig' %}

{% form_theme formDrink 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>
        {% if editMode %}
            Modification d'un produit
        {% else %}
            Création d'un produit
        {% endif %}
    </h1>

    {{ form_start(formDrink) }} {# balise ouvrante du form avec ses options #}

    {{ form_row(formDrink.name, {'label': 'Nom'}) }}
    {{ form_row(formDrink.images, {'label': 'Images'}) }}
    {{ form_row(formDrink.region, {'label': 'Région'}) }}
    {{ form_row(formDrink.description, {'label': 'Description'}) }}
    {{ form_row(formDrink.volume, {'label': 'Volume'}) }}
    {{ form_row(formDrink.price, {'label': 'Prix'}) }}
    {{ form_row(formDrink.type, {'label': 'Type'}) }}
    <br/>
    <button type="submit" class="btn btn-success">
        {% if editMode %}
            Enregistrer
        {% else %}
            Ajouter le produit
        {% endif %}
    </button>

    {{ form_end(formDrink) }} {# balise fermante précédée de toute les champs présent dans le form et non appelé (comportement par défaut) #}

{% endblock %}