{% extends 'base.html.twig' %}

{% block title %}
    {% if type == 'red_wine' %}
        Vins Rouges
    {% elseif type == 'white_wine' %}
        Vins Blancs
    {% elseif type == 'rose_wine' %}
        Vins Rosés
    {% elseif type == 'champagne' %}
        Champagnes & Bulles
    {% else %}
        Vins & Gourmandises
    {% endif %}
{% endblock %}

{% block body %}
    {% for product in drinks %}
    <article>
        <h2>{{ product.name }}</h2>
        <div class="content">
            <img src="{{ product.images }}" alt="">
            <p>{{ product.region }}</p>
            <p>{{ product.description }}</p>
            <p>{{ product.volume }}L</p>
            <p>{{ product.price }}EUR</p>

            <a href="{{ path('show_one_drink', {'id' : product.id, 'type' : product.type }) }}" class="btn btn-primary">Plus d'infos</a>
        </div>
    </article>
    {% endfor %}
{% endblock %}
