{% extends 'base.html.twig' %}

{% block title %}
    {{ pageTitle }}
{% endblock %}

{% block body %}
    <div class="container-fluid" id="products_block">
        {% for product in products %}
        <article>
            <div class="content mx-0 mx-lg-3">
                <div class="row product_row py-1">
                    <div class="col-12">
                    <a  href="{{ path('product_show_one', {'id' : product.id, 'type' : product.type }) }}"
                        class="d-block d-sm-none">
                        <h2>{{ product.name }}</h2>
                    </a>
                    </div>
                    <div class="col-12 col-sm-3 d-flex align-items-center justify-content-center">
                        <a href="{{ path('product_show_one', {'id' : product.id, 'type' : product.type }) }}">
                            <img class="img-fluid" src="{{ asset('images/product/' ~ product.type ~ '/'  ~ product.images ~ '.jpg') }}" alt="product_photo">
                        </a>
                    </div>
                    <div class="col-12 col-sm-9 d-flex flex-column justify-content-around">
                        <a  href="{{ path('product_show_one', {'id' : product.id, 'type' : product.type }) }}"
                            class="d-none d-sm-block">
                            <h2>{{ product.name }}</h2>
                        </a>
                        <div>{{ product.region }}</div>
                        <div>{{ product.volume }}L</div>
                        {% if product.type == "red_wine" or product.type == "white_wine" or product.type == "rose_wine" or product.type == "champagne" %}
                            <div><strong>{{ product.price|number_format(2) }}&nbsp;EUR</strong>&nbsp;(6 bouteilles)</div>
                        {% else %}
                            <div><strong>{{ product.price|number_format(2) }}&nbsp;EUR</strong>&nbsp;</div>
                        {% endif %}
                        <div>
                            <a href="{{ path('product_show_one', {'id' : product.id, 'type' : product.type }) }}" class="btn btn-info">Fiche produit</a>
                            <a href="{{ path('cart_add', {'id' : product.id}) }}" class="btn btn-primary">
                                Ajouter à mon panier
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        {% endfor %}
    </div>
{% endblock %}
