{% extends 'base.html.twig' %}

{% block title %}
    {{ pageTitle }}
{% endblock %}

{% block body %}
    <div class="container" id="products_block">
        {% for product in products %}
        <article>
            <div class="content">
                <div class="row product_row py-2">
                    <div class="col-3 d-flex align-items-center border border-danger">
                        <img class="img-fluid" src="{{ asset('images/test.jpg') }}" alt="product_photo">
                    </div>
                    <div class="col d-flex flex-column justify-content-around">
                        <a href="{{ path('product_show_one', {'id' : product.id, 'type' : product.type }) }}" style="color:black;">
                            <h2>{{ product.name }}</h2>
                        </a>
                        <div>{{ product.region }}</div>
                        <div>{{ product.volume }}L</div>
                        <div>{{ product.price }}EUR</div>

                        <div id="product_button">
                            <a href="{{ path('product_show_one', {'id' : product.id, 'type' : product.type }) }}" class="btn btn-info">Fiche produit</a>
                            <a href="{{ path('cart_add', {'id' : product.id}) }}" class="btn btn-primary">
                                Ajouter à mon panier
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        {% endfor %}
        <div id="overlay">
            <div id="popup">
                <div id="popup_content">
                    <!-- <div id="popup_header"><span id="bouton_close">&times;</span></div> -->
                    <div id="popup_header"><img id="bouton_close" src="../images/bouton_close.jpg"></div>
                    <div id="popup_body"><img id="popup_image"></div>
                    <div id="popup_footer"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
