{% extends 'base.html.twig' %}

{% block title %}
    {{ pageTitle }}
{% endblock %}

{% block body %}
    <div class="container" id="products_bloc">
        {% for product in products %}
        <article>
            <div class="content">
                <div class="row product_row py-2">
                    <div class="col-3">
                        <div height="200px"><img class="img-fluid " src="{{ asset('images/test.jpg') }}" alt="" height="100%"></div>
                    </div>
                    <div class="col d-flex flex-column justify-content-between">
                        <h3>{{ product.name }}</h3>
                        <div>{{ product.region }}</div>
                        <div>{{ product.volume }}L</div>
                        <div>{{ product.price }}EUR</div>

                        <div>
                            <a href="{{ path('show_one_product', {'id' : product.id, 'type' : product.type }) }}" class="btn btn-info">Fiche produit</a>
                            <a href="{{ path('cart_add', {'id' : product.id}) }}" class="btn btn-primary align-self-end">Ajouter à mon panier</a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        {% endfor %}
    </div>
{% endblock %}
