<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title id="page_title">{% block title %}Alacart' - Vins et Gourmandises{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
        >
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        <link rel="icon" href="{{ asset('images/favicon.ico') }}" />

        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-xl navbar-light d-flex align-items-center bg-light fixed-top">
            <a class="navbar-brand d-flex" href="{{ path('main_home') }}">
                <div id="logo_text" class="d-flex align-items-center justify-content-center">Alacart'</div>
                <div class="d-flex align-items-center justify-content-center"><img class="img-fluid" src="{{ asset('images/logos/brand_logo.png') }}" alt="logo" style="max-height: 50px;"></div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse bg-light" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Vins
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('product_show_by_type', {'type': 'red_wine'}) }}">Vins rouges</a>
                        <a class="dropdown-item" href="{{ path('product_show_by_type', {'type': 'white_wine'}) }}">Vins blancs</a>
                        <a class="dropdown-item" href="{{ path('product_show_by_type', {'type': 'rose_wine'}) }}">Vins rosés</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('product_show_by_type', {'type': 'champagne'}) }}">Champagnes & Bulles</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('product_show_by_type', {'type': 'ham'}) }}">Jambons Serrano & Ibérique</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('product_show_by_type', {'type': 'foie_gras'}) }}">Foies gras & Terrines</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('product_show_by_type', {'type': 'oil'}) }}">Huiles & Truffes</a>
                    </li>
                    {% if app.user %}
                        {% if app.user.email == "thibaultfert@gmail.com" or app.user.email == "patrice.fert.abcd@gmail.com" %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('product_create') }}">Creation article</a>
                        </li>
                        {% endif %}
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav ml-auto">                
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('cart_index') }}">Panier</a>
                    </li>
                    {% if not app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('security_login') }}">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('security_registration') }}">Inscription</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('security_logout') }}">Déconnexion</a>
                        </li> 
                    {% endif %}                  
                </ul>
            </div>
        </nav>

        <div class="container-fluid" id="central_block">
            {% for label, messages in app.flashes(['success', 'warning']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}" style="font-family: sans-serif; font-size: 0.8em;">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}
            {% endblock %}  
         
            <footer class="row-fluid bg-dark text-center">
                <!-- Grid container -->
                <div class="container p-4">
                <!-- Section: Raccourci de contact -->
                    <section class="mb-4">
                    <a href="tel:+33782666390">
                        <img 	class="logos_contact mx-4" 
                                src="{{ asset('images/logos/call.png') }}"
                                alt="logo_call">
                    </a>
                    <a href="mailto:alacart.distribution@gmail.com">
                            <img  	class="logos_contact mx-4" 
                                    src="{{ asset('images/logos/email.png') }}"
                                    alt="logo_email">
                        </a>
                    </section>
                    <!-- Section: Text -->
                    <section class="mb-4">
                    <p>
                        Entreprise de fournisseurs en vins et produits fins pour les restaurants parisiens, nous ouvrons une partie de notre gamme pour le particulier.
                        N'hésitez pas à nous contacter pour plus d'informations sur nos produits, la livraison ou tout autre thème !
                    </p>
                    </section>
                    <!-- Section: Text -->

                    <!-- Section: Links -->
                    <section class="">
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-6 col-lg-4 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Vins &amp; Champagnes</h5>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="{{ path('product_show_by_type', {'type': 'red_wine'}) }}">Vins rouges</a>
                            </li>
                            <li>
                                <a href="{{ path('product_show_by_type', {'type': 'white_wine'}) }}">Vins blancs</a>
                            </li>
                            <li>
                                <a href="{{ path('product_show_by_type', {'type': 'rose_wine'}) }}">Vins rosés</a>
                            </li>
                            <li>
                                <a href="{{ path('product_show_by_type', {'type': 'champagne'}) }}">Champagnes et Bulles</a>
                            </li>
                        </ul>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-6 col-lg-4 mb-md-0">
                        <h5 class="text-uppercase">Produits fins</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="{{ path('product_show_by_type', {'type': 'ham'}) }}">Jambon Serrano & Ibérique</a>
                            </li>
                            <li>
                                <a href="{{ path('product_show_by_type', {'type': 'foie gras'}) }}">Foies gras et Terrines</a>
                            </li>
                            <li>
                                <a href="{{ path('product_show_by_type', {'type': 'oil'}) }}">Huiles et Truffes</a>
                            </li>
                        </ul>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-12 col-lg-4 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Contact</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="{{ path('main_contact') }}">Nous contacter</a>
                            </li>
                            <li>07 82 66 63 90</li>
                            <li>alacart.distribution@gmail.com</li>
                        </ul>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                    </section>
                    <!-- Section: Links -->
                </div>
                <!-- Grid container -->

                <!-- Copyright -->
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                    © 2021 Copyright: Alacart
                </div>
                <!-- Copyright -->
            </footer>
        
        </div>
        <script src="{{ asset('js/backgroundImage.js') }}"></script>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    </body>
</html>
